<?xml version="1.0"?>
<!--
/**
 * Balance Payments For Magento 2
 * https://www.getbalance.com/
 *
 * @category Balance
 * @package  Balancepay_Balancepay
 * @author   Developer: Pniel Cohen
 * @author   Company: Girit-Interactive (https://www.girit-tech.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Payment\State\AuthorizeCommand">
        <plugin name="balancepay_plugin_sales_model_order_payment_state_authorizecommand" type="Balancepay\Balancepay\Plugin\Sales\Model\Order\Payment\State\AuthorizeCommand"/>
    </type>
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="customer-session-data-to-context" type="Balancepay\Balancepay\Plugin\CustomerSessionContext" sortOrder="15"/>
    </type>
</config>
